<div class="row margin__row">
  <div class="col-md-6 col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-3">
    <%= link_to new_user_registration_path, class: 'content__wy '  do  %>
       Registrarme <%= fa_icon "pencil"%>
    <%end%>
  </div>
</div>