<div class="row margin__row">
  <div class="col-md-6 .make-md-column-offset(2)">
    <%= link_to new_user_registration_path, class: 'content__wy '  do  %>
      Nuevo Usuario! <%= fa_icon "user"%>
    <%end%>
  </div>
  <div class="col-md-6 offset-md-3">
    <%= link_to new_user_session_path, class: 'content__wy '  do  %>
      Entrar! <%= fa_icon "sign-in"%>
    <%end%>
  </div>
</div>