
<%= render 'partials/newsession' %>
<%= render 'partials/landingbuttons' %>

<p class="content__teaser marggin__teaser" style="color: white"><strong>Gracias!</strong> por ser parte del ecosistema inteligente de parqueaderos.<br>Si deseas <strong style="color: yellow">vincular tu parqueadero</strong> Llamanos al 3197977249 con gusto te atenderemos.</p>





