/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;

}

#footer {
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
    background-color: none;
}

.margin-bottom-footer{
  margin-bottom: 85px;
}