/*!
Styles for full screen background video demo
*/
/* =============================================================================
  RESETS
============================================================================= */
html,
body,div,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

/* =============================================================================
  HTML, BODY
============================================================================= */
html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Oxygen", sans-serif;
  line-height: 1.5;
}

/* =============================================================================
  CONTENT
============================================================================= */
.content {
  position: relative;
  top: 10%;
  z-index: 2;
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
}

.content__heading {
  margin-bottom: 24px;
  color: #272727;
  font-size: 44px;
}

.content__teaser {
  margin-bottom: 100px;
  color: #595959;
  font-size: 15px;
}

.margin__row{
  margin-top: 33px;
  margin-bottom: 25px;

}

.marggin__teaser {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.margin-bottom-footer{
  margin-bottom: 144px;
}

/* =============================================================================
  Landing buttons
============================================================================= */

.content__wy {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 12px 48px;
  border: solid 4px #fff;
  color: yellow;
  font-size: 22px;
  text-decoration: none;
  margin-bottom: 3%;
  background: none;
  border-radius: 15px 50px;
  margin-top: 10%;
}

.content__wy:hover {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 12px 48px;
  border: solid 4px yellow;
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  margin-bottom: 3%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px 50px;
  margin-top: 10%;
}

.content__yw {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 12px 48px;
  color: yellow;
  font-size: 22px;
  text-decoration: none;
  border: solid 4px #fff;
  margin-bottom: 3%;
  background: none;
}

.content__yw:hover {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 12px 48px;
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  border: solid 4px yellow;
  margin-bottom: 3%;
  background-color: rgba(0, 0, 0, 0.4);
}

.forms__border{
  border: 2px solid yellow;
  border-radius: 15px 50px;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.4);
}

.login__button {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 10px;
  color: yellow;
  font-size: 22px;
  text-decoration: none;
  border: solid 2px #fff;
  margin-bottom: 3%;
  background: none;
  border-radius: 10px;
}

.login__button:hover {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 10px;
  color: yellow;
  font-size: 22px;
  text-decoration: none;
  border: solid 2px #fff;
  margin-bottom: 3%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}




/* =============================================================================
  VIDEO
============================================================================= */
.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}



/* =============================================================================
  Resolutions control
============================================================================= */

    /* different techniques for iPad screening */
    @media only screen and (min-width: 250px) and (max-width: 359px) {
      /* For portrait layouts only */
      .login__button {
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 10px;
        color: yellow;
        font-size: 22px;
        text-decoration: none;
        border: solid 2px #fff;
        margin-bottom: 3%;
        background: none;
        border-radius: 15px 50px;
      }
    }

    @media only screen and (min-width: 360px) and (max-width: 767px) {
      /* For portrait layouts only */
      .login__button {
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 10px;
        color: yellow;
        font-size: 22px;
        text-decoration: none;
        border: solid 2px #fff;
        margin-bottom: 3%;
        background: none;
        border-radius: 15px 50px;
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 1366px) {
        /* For portrait layouts only */
       .marggin__teaser {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
      }

        .margin__row{
      margin-top: 33px;
      margin-bottom: 25px;

      }
    }

     @media only screen and (min-width: 1367px) {
      /* For portrait layouts only */
      .marggin__teaser {
        margin-top: 50px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
      }

        .margin__row{
      margin-top: 33px;
      margin-bottom: 25px;

      }
    }



